@import "style/shared.scss";

.communityWrap {
  width: "100%";
  .communityBox {
    width: $infoWidth;
    margin: $infoMarginBottom;
    position: relative;
    .communityCont {
      display: flex;
      align-items: center;
      ul {
        width: 50%;
        &:first-child {
          margin-right: 1.875rem;
          li {
            padding: 0.75rem 0.125rem;
            margin-bottom: 0.125rem;
            border-bottom: 0.0625rem solid #f4f4f4;
            cursor: pointer;
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
