@import "style/shared.scss";

.categoryWrap {
  width: "100%";
  margin-top: 30px;
  .categoryBox {
    width: $infoWidth;
    margin: $infoMarginBottom;
    ul {
      display: flex;
      justify-content: space-around;
      li {
        text-align: center;
        p {
          margin: 0.25rem 0 0;
          font-weight: bold;
        }
      }
    }
  }
}
